<mat-toolbar color="primary">
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>fastfood</mat-icon>
  </button>
  <span>Mada Food</span>
  <span class="example-spacer"></span>
  <a
    [routerLink]="['liste-menu']"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>restaurant_menu</mat-icon><span>Menus</span>
  </a>
  <a
    [routerLink]="['liste-repas']"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>toll</mat-icon><span>Repas</span>
  </a>
  <a
    [routerLink]="['liste-ingredient']"
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>track_changes</mat-icon><span>Ingrédients</span>
  </a>
  <a
    [routerLink]="['liste-commande']"
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>add_shopping_cart</mat-icon><span>Commandes</span>
  </a>
  <a
    [routerLink]="['liste-benefice']"
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>trending_up</mat-icon><span>Bénéfices</span>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
